@use 'app/markup/scss/mixins/breakpoints' as bp-mixin;
@use 'app/markup/scss/mixins/text-component' as tc-mixin;


.data-widget {
	--data-widget-p: 24px;
	--data-widget-shadow: var(--shadow-sm);
	
	background-color: var(--ctx-elements-background-inverse-active);
	border-radius: 32px;
	padding: var(--data-widget-p);
	display: flex;
	justify-content: space-between;
	gap: 10px;
	box-shadow: var(--data-widget-shadow);
	
	@include bp-mixin.media-breakpoint-up(lg) {
		--data-widget-p: 32px;
	}
	
	&__content {
		display: flex;
		flex-direction: column;
		gap: 8px;
		width: 100%;
	}
	
	&__title {
		@include tc-mixin.text-component(lg, semibold);
	}
	
	&__description {
		@include tc-mixin.text-component(md, semibold);
	}
	
	&_interactive {
		text-align: left;
		outline: none;
		border: 0;
	}
	
	&_secondary {
		--state-main-hover-bg-img: var(--ctx-elements-background-hover-secondary-light);
	}
	
	&_md {
		--data-widget-shadow: var(--shadow-md);
	}
}