@use 'app/markup/scss/mixins/breakpoints' as bp;

.contacts {
	--contacts-gap: 16px;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: var(--contacts-gap);
	
	@include bp.media-breakpoint-down(md) {
		--contacts-gap: 8px;
	}
	
	&__links {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding-left: 8px;
	}
	
	&__socials {
		display: flex;
		gap: 16px;
		padding-left: 2px;
	}
	
	//--icon-cl: var(--ctx-text-accent-secondary);
	&_footer {
		--contacts-gap: 48px;
		
		@include bp.media-breakpoint-down(md) {
			--contacts-gap: 24px;
		}
	}
}