@use 'app/markup/scss/mixins/breakpoints' as bp;


.link-set {
	display: flex;
	align-items: center;
	
	&__icon {
	}
	
	&__btn {
		margin-left: 8px;
		flex-shrink: 1;
		height: auto;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	&__btn-text {
		white-space: normal;
		text-align: left;
	}
}