@use 'app/markup/scss/mixins/breakpoints' as bp;

.tabs {
	--tabs-content-bg-cl: transparent;
	--tabs-content-shadow: none;
	--tabs-content-p: 0 0 0 8px;
	--tabs-info-p: 0;
	
	&__header-wrapper {
		overflow-x: scroll;
		padding-top: 12px;
		padding-bottom: 12px;
		
		@include bp.media-breakpoint-up(sm) {
			overflow-x: visible;
		}
	}
	
	&__header {
		display: flex;
		gap: 12px;
		
		@include bp.media-breakpoint-up(sm) {
			flex-wrap: wrap;
		}
	}
	
	&__content {
		margin-top: 20px;
		background-color: var(--tabs-content-bg-cl);
		padding: var(--tabs-content-p);
		border-radius: 32px;
		box-shadow: var(--tabs-content-shadow), inset 0 0 0 1px var(--ctx-border-secondary-light);
		
		&_table {
			--tabs-content-p: 0;
			--tabs-info-p: 32px;
		}
	}
	
	&__img {
		border-radius: 32px;
		overflow: hidden;
	}
	
	&__info {
		padding-right: var(--tabs-info-p);
		padding-top: var(--tabs-info-p);
		padding-left: var(--tabs-info-p);
	}
	
	&__title {
		margin-top: 8px;
	}
	
	&__description {
		margin-top: 12px;
	}
	
	&__actions {
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin-top: 8px;
		padding-right: 32px;
		padding-left: 32px;
		padding-bottom: 32px;
		
		@include bp.media-breakpoint-up(sm) {
			flex-direction: row;
		}
	}
	
	&__action {
		margin-top: 32px;
	}
	
	&_card {
		--tabs-content-bg-cl: var(--ctx-elements-background-inverse-active);
		--tabs-content-shadow: var(--shadow-sm);
		--tabs-content-p: 32px;
	}
}