// ===============================================
// ICONS VARIABLES
// ===============================================


$icon-sizes: 16 20 24 28 32 36 40 48 60 72 88 112;

$icon-stroke-widths: (
	'1': 1,
	'1-5': 1.5,
	'2': 2,
	'3': 3,
	'4': 4,
	'5': 5,
);

/*
    В значении указывается сокращение свойства
*/
$icon-properties-list: (
	size: fz,
	width: stroke-w,
);
