.team-element {
	&__img {
		border-radius: 32px;
		box-shadow: var(--shadow-sm);
	}
	&__info {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding-left: 8px;
	}
	&__name {
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding-top: 8px;
	}
}